<!DOCTYPE html>

<html lang="en">
<head>
  	<title>View Courses of Instructor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> You can view all courses given by a specific instructor.</h2>
    </div>
    {% if action_fail %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Viewing courses given by a instructor failed</h4>
    </div>
    {% endif %}
    <div class="center">
        <form id="viewcoursesdbform" class="form-group" method="POST" action="{%url 'viewInstructorCourse' %}">
                {%csrf_token%}
                <br>
                <label>View the courses of the instructor with the username:</label>
                <br>
                <input type="text" name="i_username" placeholder="Instructor ID" required>
                <br>
                <input type="submit" name="submit" value="View Courses">
                <br>
        </form>
    </div>
    <a href="{%url 'dbmanager-home' %}"> <p style="text-align:center">Back</p></a>
</body>
</html>